<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="binh.le.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuyBinhGame">
        <activity
            android:name=".gameBasic.topPlayer.TopPlayerActivity"
            android:label="@string/title_activity_top_player" />
        <activity android:name=".setting.SettingActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.DuyBinhGame.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.example.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.DuyBinhGame.NoActionBar"/>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".gameBasic.sudoku.SudokuGameActivity" />
        <activity android:name=".gameBasic.memoryGame.MemoryGameActivity" />
        <activity
            android:name=".gameBasic.caroGame.CaroGameActivity"
            android:label="@string/title_activity_caro_game" />

        <activity android:name=".gameBasic.shootingGame.ShootingActivity"/>

        <service
            android:name=".service.BackgroundSoundService"
            android:enabled="true" />
    </application>

</manifest>